* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-block {
  background-color: black;
  padding: 5vw 0vw;
}

.main-block article {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.card-block {
  background-color: yellow;
  padding: 1vw;
  width: 20vw;
  border-radius: 1vw;
  transition: all 0.3s;
  /* height: 25vw; */
}

.card-block:hover {
  transform: scale(1.1);
}

.card-block img {
  width: 100%;
}

.card-block h2 {
  text-transform: capitalize;
  text-align: center;
  margin: 1vw;
  font-size: 2vw;
}

.card-block a {
  text-decoration: none;
  border-radius: 0.5vw;
  font-size: 1.7vw;
  margin: 1vw;
  padding: 0.5vw 0vw;
  display: block;
  text-align: center;
  color: black;
  transition: all 0.5s;
  background-color: rgb(7, 255, 36);
}

.card-block a:hover {
  background-color: green;
  box-shadow: 0px 0px 1px 1px green;
  color: white;
  transform: scale(1.01);
}

/* 100px - 468
    469 -768
    769 - 1200
    1201- 


*/
@media screen and (min-width: 100px) {
  .main-block article {
    gap: 7vw;
    padding: 10vw;
  }

  .card-block {
    width: 70vw;
    padding: 3vw;
  }

  .card-block h2 {
    font-size: 8vw;
  }

  .card-block a {
    font-size: 6vw;
    padding: 1vw;
  }
}
@media screen and (min-width: 469px) {
  .main-block article {
    gap: 4vw;
    padding: 3vw;
  }

  .card-block {
    width: 25vw;
    padding: 1vw;
  }

  .card-block h2 {
    font-size: 4vw;
  }

  .card-block a {
    font-size: 3vw;
    padding: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  .main-block article {
    gap: 5vw;
    padding: 3vw;
  }

  .card-block {
    width: 20vw;
    padding: 1vw;
  }

  .card-block h2 {
    font-size: 3vw;
  }

  .card-block a {
    font-size: 2vw;
    padding: 0.5vw;
  }
}
